    div#header, #MainMenu, #SubMenu, .h2footer, .footer, .plotInfo, div.ep_summary, img.ep_summaryTrigger {
        display: none !important;
		visibility: hidden !important;
}

	#comingepisodeswrapper, #insideWrapper  {
		/* max-height: 250px; */

	/* set max-width for using this widget on either side otherwise you can't see everything */
		/* max-width: 400px; */
}

	/* Remove border from images --needed for all 3 views */
    /* fix possible alignment issues */
    div.tvshowDiv > table tr td { width: 100%; }
	div.tvshowDiv > table tr th img, td > a > img{
		border:0 !important;
		margin:0 !important;
}



/* START - specific to LIST view */
	table#showListTable {
		width: 100% !important;
}

	/* fix list alignment problem */
		table#showListTable > tbody > tr > td, table#showListTable > thead > tr > th {
		text-align: left;
		padding-left: 10px;
}

	/* make it so that the tv show doesn't word wrap */
		table#showListTable > tbody > tr > td a {
		white-space:nowrap;
}
/* END - specific to LIST view */



/* START - specific to icon views */

	/* make the tv show w/icons look more like a title bar */
	div.tvshowDiv > table tr th {
		background-color: #333 !important;
		border-bottom: 1px solid #333 !important;
		background-color: transparent !important;
}

	/* centre align the tv show title */
	div.tvshowDiv > table tr th > span.tvshowTitle a{
		text-align: center !important;
		/* float: left !important; */
		padding: 3px 0px 4px !important;
		font-size: 16px !important;
		text-decoration: underline;
}

	/* right align the icons for the show */
	div.tvshowDiv > table tr th span.tvshowTitleIcons{
		text-align: right !important;
		float: right !important;
}

	div.tvshowDiv > table tr th span.tvshowTitleIcons img{
		height: 16px;
		width: 16px;
		padding: 2px 2px 0px !important;
}
	/* remove the Next Episode: / Airs: */
	div.tvshowDiv > table tr td > span.title {
		display: none!important;
}

	/* remove the styling for the th that holds the banner image */
	div.tvshowDiv > table > tbody > tr > th.nobg {
		border:0 !important;
		background:none !important;
		height: 1px !important;
		text-align:center;
}

	.bannerThumb {
		height: 70px !important;
		width: 354px !important;
		padding-bottom: 2px;
}

	.posterThumb {
		width: 102px !important;
		height: 150px !important;
		padding: 0px 5px 5px 0px;
		float:left;
}

	/* adjust the ep #x## - title */
	div.tvshowDiv > table > tbody > tr > td.next_episode {
		text-align: left !important;
		font-size: 15px;
		font-weight: bold;
		display: hidden;
		padding-top: 3px;
		padding-bottom: 3px;
}

	/* adjust the ep summary/air text */
	div.tvshowDiv > table > tbody > tr > td span {
		display: inline;
		visibility: visible;
		color: #666;
}

	/* crude hack to get rid of the [] for the quality and add spacing after tvshow */
	div.tvshowDiv > table > tbody > tr > td {
		text-align: left !important;
		visibility: hidden;
		padding-bottom: 10px;
}

	/* use the line breaks as visual seperation of elements */
	br { 
	
	/* seperate each block by some spacing */
		display: inline;

	/* merge the airdate with summary */
		display: none; /* looks best for all 3 views */
}

	#main #wComingEpisodes.widget .widget-content {
		max-height:97%;
	
	/* show vertical scrollbar only on overflow */
		overflow-x:hidden;
		overflow-y:scroll;
}

	/* not sure what this is for, pulled it from comingepisodes.css */
	#wComingEpisodes h1, #wComingEpisodes iframe {
		display     : none !important;
		visibility  : hidden;
		height      : 1px;
}
	a.highslide img.bannerThumb, a.highslide img.posterThumb {
		border: 1px solid #fff;
}
