	#main #wComingEpisodes.widget .widget-content {
		max-height:46%;
}
	/* centre align the tv show title */
	div.tvshowDiv > table tr th > span.tvshowTitle a{
		display: none;
		visibility: hidden;

}

	/* right align the icons for the show */
	div.tvshowDiv > table tr th span.tvshowTitleIcons{
		display: none;
		visibility: hidden;
}

	div.tvshowDiv > table tr th span.tvshowTitleIcons img{
		display: none !important;
		padding: none !important;
}
	.bannerThumb {
		height: 70px !important;
		width: 100% !important;
		max-width: 300px;
}

	/* adjust the ep #x## - title */
	div.tvshowDiv > table > tbody > tr > td.next_episode {
		display: none;
		padding-top: none;
		padding-bottom: none;
}
	/* crude hack to get rid of the [] for the quality and add spacing after tvshow */
	div.tvshowDiv > table > tbody > tr > td {
		display: none;
		visibility: hidden;
		padding-bottom: 0px;
}
	/* not sure what this is for, pulled it from comingepisodes.css */
	#wComingEpisodes h1, #wComingEpisodes iframe {
		display: inline !important;
		visibility: visible !important;
		height      : 10px !important;
}
#mcs3_container {
	height:50% !important;
}
